.btn-justificacion{
    width: 60px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    font-size: 45px;
    font-weight: bold;
    border-radius: 60px;
    font-size: 34px;
    background: #e1f3fb;
    border: solid 1px darkgray;
}
.field_width [data-field="ninio"]{
    color: #120b0b !important;
}
.field_width [data-field="comite_gestion_id"]{
    color: #120b0b !important;
}
label.space_label_300{
    width : 300px !important;
}
input.space_label_300{
    width : 80px !important;
}
input.space_between_inputs{
    width: 80px !important;
    height: 27px;
    position: relative;
    margin: 2px;
    left: 70px;
}
span.between_inputs{
    width: 80px !important;
    height: 20px;
    position: relative;
    margin: 2px;
    left: 120px;
}
span.infobox{
    border-color: #ebccd1;
    background: #f2dede no-repeat 10px 10px;
    border-radius: 10px;
    border: 1px solid;
    font-weight: bold;
    color: #a94442;
    padding: 8px 10px 10px 64px;
        padding-top: 8px;
        padding-bottom: 10px;
    width: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}
.char_style{
    font-weight:bold;
    vertical-align: text-bottom;
}
label.total_label{
    width: 200px !important;
    position: relative;
    right: 85px;
    top: 4px;
}
input.total_label{
    width: 80px !important;
    position: relative;
    bottom: 16px;
    left: 100px;
}
span.total_label{
    width: 80px !important;
    position: relative;
    bottom: 16px;
    left: 120px;
}